from typing import TYPE_CHECKING, Union

from githubkit.versions.latest.models import (
    WebhookPullRequestReviewRequestedOneof0,
    WebhookPullRequestReviewRequestedOneof1,
    WebhookPullRequestReviewRequestRemovedOneof0,
    WebhookPullRequestReviewRequestRemovedOneof1,
)

PullRequestReviewRequested = Union[
    WebhookPullRequestReviewRequestedOneof0,
    WebhookPullRequestReviewRequestedOneof1,
]
PullRequestReviewRequestRemoved = Union[
    WebhookPullRequestReviewRequestRemovedOneof0,
    WebhookPullRequestReviewRequestRemovedOneof1,
]

if TYPE_CHECKING:
    from githubkit.versions.latest.webhooks import (  # noqa: I001
{event_aliases}
    )
    from githubkit.versions.latest.models import (
{action_aliases}
    )
else:
    __lazy_vars__ = {{
        "__monalisten_sentinel__": ("__monalisten_sentinel__",),
{lazy_vars}
    }}

__all__: tuple[str, ...] = (
{all_entries}
)
